sentence-transformers
qdrant-client
groq
fastapi
uvicorn[standard]
streamlit
python-dotenv
pydantic-settings
pymongo
prometheus-fastapi-instrumentator
pytest
httpx
docling
numpy
langchain-huggingface
langchain-experimental
langchain-text-splitters
langchain-groq
langchain-community
langgraph
ddgs
